body {
  background-color: aliceblue;
}

.navbar {
  background: none;
  border: none;
}

.navbar li a {
  background-color: aliceblue;
}

.section {
  margin: 10px 0px;
}

/*************/
/* Left Side */
/*************/

#profile-left div {
  background-color: white;
  padding: 15px;
  margin: 5px 0px;
  box-shadow: 2px 2px 4px #999;
}

#profile-left div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#profile-left div:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#main-picture img {
  border-radius: 5px;
}

.picture img {
  width: 100%;
}

#social {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#social i {
  margin-right: 5px;
  color: black;
}

#name {
  text-align: center;
  font-size: 30px;
}

/**************/
/* Right Side */
/**************/
#profile-right .panel {
  margin: 5px 0px;
  box-shadow: 2px 2px 4px #999;
}

#profile-right .projects {
  text-align: center;
}

#profile-right .projects > div:nth-child(4) {
  clear:both;
}

#profile-right .projects a {
  color: black;
  height: 100%;
  width: 100%;
}

#profile-right .projects a:hover {
  text-decoration: none;
  cursor: pointer;
}

#profile-right .projects .title {
  font-size: 20px;
  font-weight: bold;
}

#profile-right .projects .preview {
  display: inline-block;
  border: 1px solid black;
  /* height: 75px; */
  width: 75%;
  margin: 5px;
}
